/* ########################## */
/* Animations Load From Here */

@-webkit-keyframes bubble-anim {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1); }
  
    20% {
      -webkit-transform: scaleY(0.95) scaleX(1.05);
      transform: scaleY(0.95) scaleX(1.05); }
  
    48% {
      -webkit-transform: scaleY(1.1) scaleX(0.9);
      transform: scaleY(1.1) scaleX(0.9); }
  
    68% {
      -webkit-transform: scaleY(0.98) scaleX(1.02);
      transform: scaleY(0.98) scaleX(1.02); }
  
    80% {
      -webkit-transform: scaleY(1.02) scaleX(0.98);
      transform: scaleY(1.02) scaleX(0.98); }
  
    97%, 100% {
      -webkit-transform: scale(1);
      transform: scale(1); } }
  
  @keyframes bubble-anim {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1); }
  
    20% {
      -webkit-transform: scaleY(0.95) scaleX(1.05);
      transform: scaleY(0.95) scaleX(1.05); }
  
    48% {
      -webkit-transform: scaleY(1.1) scaleX(0.9);
      transform: scaleY(1.1) scaleX(0.9); }
  
    68% {
      -webkit-transform: scaleY(0.98) scaleX(1.02);
      transform: scaleY(0.98) scaleX(1.02); }
  
    80% {
      -webkit-transform: scaleY(1.02) scaleX(0.98);
      transform: scaleY(1.02) scaleX(0.98); }
  
    97%, 100% {
      -webkit-transform: scale(1);
      transform: scale(1); } }

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes slideright {
    from { background-position: 0 0; }
    to { background-position: -500% 0; }
  }
  
  @keyframes slideleft {
    from { background-position: 0 0; }
    to { background-position: 600% 0; }
  }  

@keyframes floating {
0% {
    transform: translate(50px,0);
}
65% {
    transform: translate(0,0);
}
100% {
    transform: translate(50px,0);
}
}

@keyframes animate-shadow {
    0% {
      filter: drop-shadow(0 0 0.5rem rgb(202, 51, 182)); 
    }
    50% {
      filter: drop-shadow(0 0 0.5rem rgb(151, 51, 240)); 
    }
    100% {
      filter: drop-shadow(0 0 0.5rem rgb(202, 51, 182)); 
    }
  }

@keyframes animate-shadow-ocean {
  0% {
    filter: drop-shadow(0 0 0.5rem rgba(22, 222, 222, 0.65)); 
  }
  50% {
      filter: drop-shadow(0 0 0.5rem rgba(252, 101, 252, 0.75)); 
  }
  100% {
    filter: drop-shadow(0 0 0.5rem rgba(22, 222, 222, 0.65)); 
  }
}

@keyframes animate-shadow-white {
  0% {
    filter: drop-shadow(1px 5px 1.88rem rgba(172, 255, 255, 1)); 
  }
  50% {
      filter: drop-shadow(1px 5px 1.88rem rgba(255, 255, 255, 1)); 
  }
  100% {
    filter: drop-shadow(1px 5px 1.88rem rgba(172, 255, 255, 1)); 
  }
}

@keyframes gradient-txt-change {
  0% { color: red; }
  50% { color: blue; }
  100% { color: red; }
}

@keyframes purple-pulse {
  0% {}
  50% { opacity: 0.65; }
  100% {}
}