/* ##################################### */
/* ####### APP.TSX CUSTOM STYLES ####### */
/* ##################################### */

/* Optimization */
html {
  text-rendering: optimizelegibility;
  font-feature-settings: "kern";
  font-kerning: normal;
  -webkit-font-smoothing: antialiased;
}

/* Wallet Connect Dialog Box */
.makeStyles-root-1 .MuiDialogTitle-root {
  background-color: linear-gradient(45deg, #f5385d 0%, #523ffb 100%);
  background: linear-gradient(45deg, #f5385d 0%, #523ffb 100%);
}
.makeStyles-root-1 .MuiDialogTitle-root .MuiSvgIcon-root {
  color: #eeeeee;
}

/* General Customizations */
div.bg-overlay {position: fixed; left:0; top: 0; z-index: -1; width:100%; height:100%; background:radial-gradient(ellipse farthest-corner at 50% 70%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7));}
.content-wrapper section {border-radius: var(--card-border-radius);}

.bg-gradient-white-tr { 
  background: linear-gradient(-11deg, rgba(255,255,255,0.3), rgba(255,255,255,0.65), rgba(255,255,255,0.83), rgba(255,255,255,0.92)) !important;
}
.bg-gradient-purple-tr { 
  background: linear-gradient(-11deg, rgba(88, 0, 254, 0.3), rgba(88, 0, 254,0.65), rgba(88, 0, 254,0.83), rgba(88, 0, 254,0.92)) !important;
}
.bg-blue-gradient-tr {
  background-color: #188ef4;
  background: linear-gradient(to top right, rgba(24, 142, 244,0.5) 0%, rgba(120, 44, 207,0.5) 90%);
  background: -webkit-linear-gradient(to top right, rgba(24, 142, 244,0.5) 0%, rgba(120, 44, 207,0.5) 90%);
  background: -o-linear-gradient(to top right, rgba(24, 142, 244,0.5) 0%, rgba(120, 44, 207,0.5) 90%);
}

.cl-nav-logo {
  image-rendering: optimizeQuality;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
  /* image-rendering: optimizeSpeed;
  image-rendering: pixelated; */
}

.navbar-toggler:focus {
  box-shadow: 0 0 0 0.25rem #00C4CC;
}

/* #mball-main {
  background: linear-gradient(45deg, rgb(11, 146, 92), rgb(14, 101, 133), rgb(64, 15, 129), rgb(160, 39, 124), rgb(182, 7, 95));
  background-size: 200% 200%;
  animation: gradient 10s ease infinite;
} */

#hero-minter .minting-box {
    background: linear-gradient(-228deg, #410a8f, #4b005e, #5e0056);
    background-size: 300% 300%;
    -webkit-animation: mintbox-gradient 11s ease infinite;
    -moz-animation: mintbox-gradient 11s ease infinite;
    animation: mintbox-gradient 11s ease infinite;
}

@-webkit-keyframes mintbox-gradient {
    0%{background-position:0% 73%}
    50%{background-position:100% 28%}
    100%{background-position:0% 73%}
}
@-moz-keyframes mintbox-gradient {
    0%{background-position:0% 73%}
    50%{background-position:100% 28%}
    100%{background-position:0% 73%}
}
@keyframes mintbox-gradient {
    0%{background-position:0% 73%}
    50%{background-position:100% 28%}
    100%{background-position:0% 73%}
}

#vid-xone {
  position: fixed;
  bottom: -7%;
  width: 100%; 
  height: 110%;
  object-fit: cover;
  background-size: cover;
  z-index: -5;
  opacity:0.92;
  @media only screen and (max-width: 768px) {
    height: 115%;
  }
}

/* xone.land */
.xone-bg {
  background: radial-gradient(ellipse closest-side, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)), url(https://cdn.glitch.global/84180755-58e4-4c80-b543-77cacf869330/xone-bg-14s.mp4?v=1647881876712);
  background-repeat: no-repeat;
/*   @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
    background-image: radial-gradient(ellipse closest-side, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)), url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/brooklyn-bridge-2x.jpg);
} */
}

/* SECTION STYLES */
#xtrood, #plasmaverse {
  min-height: 100vh;
  vertical-align: middle;
}
.xtrood-h1 {
  display: inline;
  vertical-align:middle;
  font-size: 3.8rem;
  letter-spacing: 0.09em;
  font-weight: 700;
  line-height: 4.7rem;
}
.xtrood-h1-oo {
  text-shadow: 0px 3px 2px rgba(55, 5, 110, 0.75);
  animation: purple-pulse 1s ease-in-out infinite;
  -webkit-animation: purple-pulse 1s ease-in-out infinite;
  font-size: 4.61rem;
  letter-spacing: -0.2em;
  font-weight: 800;
  display: inline;
  padding-right: 11px;
  margin: auto 0;
  margin-left: -8px;
}

#plasmaverse { background: linear-gradient(0deg,rgba(70,12,61,0),rgba(143,0,254,.15) 44%,rgba(28, 3, 38, 0)); }
#xtrood {
  background: radial-gradient(ellipse closest-side, rgba(29, 0, 33, 0.75), rgba(29, 0, 33, 0.4) 65%, rgba(29, 0, 33, 0.25), rgba(29, 0, 33, 0.55) 121%), linear-gradient(-45deg, rgb(11, 146, 92), rgb(14, 101, 133), rgb(64, 15, 129), rgb(160, 39, 124), rgb(182, 7, 95));
  /* background-size: 200% 200%;
  animation: gradient 30s ease infinite; */
}

#xonerator .lead { font-size: 1.4rem !important; }
#xonerator .xtrood-logo {
  width: 360px;
  position: absolute !important;
  top: -30px;
  left: 50%;
  z-index: 3;
  transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  filter: drop-shadow(0 0 0.5rem crimson);
  -o-filter: drop-shadow(0 0 0.5rem crimson);
  -ms-filter: drop-shadow(0 0 0.5rem crimson);
  -moz-filter: drop-shadow(0 0 0.5rem crimson);
  -webkit-filter: drop-shadow(0 0 0.5rem crimson);
  animation: animate-shadow 1s linear infinite;
}

@media (max-width: 992px) {
  #xonerator .xtrood-logo { width: 250px; }
}
@media (max-width: 992px) {
  #xones { padding: 0 22px; }
  .xtrood-img-col { margin-left: 22%; }
  .xtrood-img-col, .xtrood-img { width: 121% !important; }
}

/* bootstrap templates */
.b-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgb(0 0 0 / 10%), inset 0 0.125em 0.5em rgb(0 0 0 / 15%);
}

/* Custom Cards */
/* .card.contentcard.faqcard { background: rgba(146, 74, 173, 0.65); } */
.card.contentcard.xonecard {
  background: radial-gradient(ellipse at bottom, rgba(28, 57, 128, 0.5) 0%, rgba(121, 33, 165, 0.5) 100%), url(https://cdn.glitch.global/f535e99a-aa99-49b0-888f-ab86e79ca548/mtbl-bg1.jpg?v=1645634708211);
  background-repeat: repeat;
  text-align: center;
  margin-bottom: 0;
  margin-top: 25px;
}
.mask2 {
  -webkit-mask-image: radial-gradient(circle, rgb(255, 255, 255) 70%, rgba(255, 255, 255, 0.5) 70%);
  mask-image: radial-gradient(circle, rgb(255, 255, 255) 70%, rgba(0, 0, 0, 0.5) 70%);
}

/* B-BALL Hero Avatar */
div.mball-avatar {
  width: auto;
  min-height: 182px;
  margin: 0 auto -12px auto;
  background: url(https://cdn.glitch.global/37011ed6-4b84-44e8-8f53-630683dd483b/basketball-minter-420px.gif?v=1646330542707) no-repeat;
  background-position-x: center;
  background-position-y: bottom;
  background-size: contain;
  position: relative;
  z-index: 9;
}

.gradient-txt-green {
  background: linear-gradient(45deg, #38009f, #00ff95 90%);
  background: -webkit-linear-gradient(45deg, #38009f, #00ff95 90%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradient-txt-purple {
  background: linear-gradient(45deg, indigo 30%, purple 80%);
  background: -webkit-linear-gradient(45deg, indigo 30%, purple 80%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradient-txt-orange {
  background: linear-gradient(45deg, rgb(219, 107, 16) 40%, rgb(194, 10, 87) 100%);
  background: -webkit-linear-gradient(45deg, rgb(219, 107, 16) 40%, rgb(194, 10, 87) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-text { 
  color: linear-gradient(45deg, rgb(77, 25, 130) 0%, rgb(121, 11, 121)100%) !important;
  font-weight: 500; 
  line-height: 2.2rem; 
  letter-spacing: 0.05em; 
  vertical-align: center;
}

.hero-section {
  background: radial-gradient(ellipse at bottom, rgba(6, 23, 70, 0.6) 10%, rgba(49, 5, 71, 0.6) 100%), url(https://cdn.glitch.global/37011ed6-4b84-44e8-8f53-630683dd483b/mbtl-bg-trans33.png?v=1643647587600);
  background-repeat: repeat;
  height: 50vh;
}

.hero-text.hero-desc {
  font-size: calc(1rem + 0.47vw + 1px);
  color: rgb(25, 55, 130);
  text-align: right;
  margin-right: -5px;
}

@media (max-width: 768px) {
  .hero-text.hero-desc { text-align: center; }
}
/* .hero-container { width:100%; height:100%; background: rgba(0,0,0,0.4); } */

.hero-header {
  width: 100%;
  color: white;
  text-align: center;
}

/* NFT FULL-WIDTH SCROLLING REEL */

.nft-hero {
  width: 100%;
  position: relative;
  border-bottom:1px solid rgba(11, 228, 228, 0.8);
  margin-bottom: 0;
  padding-top: 50px;
/*   -webkit-box-shadow: 0 8px 6px -2px rgba(11, 228, 228, 0.75);
   -moz-box-shadow: 0 8px 6px -2px  rgba(11, 228, 228, 0.75);
        box-shadow: 0 8px 6px -2px rgba(11, 228, 228, 0.75); */
}

.nft-hero-text {
  text-align: center;
  position: absolute;
  top: 56%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  width: 650px;
  border-radius: 7px;
  padding: 15px 10px 30px 10px;
  margin: auto;
  background: rgba(3, 24, 88,0.7);
  -webkit-tap-highlight-color: transparent;
  display: table-cell;
  vertical-align: middle;
}

@media only screen and (max-width: 992px) {
.nft-hero-text{ width: 100%; border-radius:0; padding: 15px 10px 30px 10px; }
}

.nft-reel-1, .nft-reel-2, .nft-reel-3, .nft-reel-4, .nft-reel-5, .nft-reel-6, .nft-reel-7 {
/*   -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear; */
/*   animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite; */
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
  animation-direction: normal;
  -webkit-animation-direction: normal;
  animation-fill-mode: none;
  -webkit-animation-fill-mode: none;
  animation-play-state: running;
  -webkit-animation-play-state: running;
  background-color: rgba(0, 0, 0, 0);
  height: 71px;
  background-position: 0 0;
  background-repeat: repeat-x;
  background-size: 7500px 71px !important;
  opacity: 0.7;
  position: relative;
  /* transform: translate3d(0,0,0); */
}
.nft-reel-1{
  background: url(../assets/mball-reel-7500x71-001.png) transparent repeat-x 0 0;
  -webkit-animation: slideright 600s infinite linear; /* Safari 4+ */
  -moz-animation: slideright 600s infinite linear; /* Fx 5+ */
  -o-animation: slideright 600s infinite linear; /* Opera 12+ */
  animation: slideright 600s infinite linear; /* IE 10+ */
}
.nft-reel-3{
  background: url(https://cdn.glitch.global/37011ed6-4b84-44e8-8f53-630683dd483b/mball-reel-7500x71-003.png?v=1646421666787) transparent repeat-x 0 0;
  -webkit-animation: slideright 666s infinite linear; /* Safari 4+ */
  -moz-animation: slideright 666s infinite linear; /* Fx 5+ */
  -o-animation: slideright 666s infinite linear; /* Opera 12+ */
  animation: slideright 666s infinite linear; /* IE 10+ */
}
.nft-reel-5{
  background: url(https://cdn.glitch.global/37011ed6-4b84-44e8-8f53-630683dd483b/mball-reel-7500x71-005.png?v=1646421677746) transparent repeat-x 0 0;
  -webkit-animation: slideright 750s infinite linear; /* Safari 4+ */
  -moz-animation: slideright 750s infinite linear; /* Fx 5+ */
  -o-animation: slideright 750s infinite linear; /* Opera 12+ */
  animation: slideright 750s infinite linear; /* IE 10+ */
}
.nft-reel-7{
  background: url(https://cdn.glitch.global/37011ed6-4b84-44e8-8f53-630683dd483b/mball-reel-7500x71-007.png?v=1646421692824) transparent repeat-x 0 0;
  -webkit-animation: slideright 800s infinite linear; /* Safari 4+ */
  -moz-animation: slideright 800s infinite linear; /* Fx 5+ */
  -o-animation: slideright 800s infinite linear; /* Opera 12+ */
  animation: slideright 800s infinite linear; /* IE 10+ */
}

.nft-reel-2{
  background: url(https://cdn.glitch.global/37011ed6-4b84-44e8-8f53-630683dd483b/mball-reel-7500x71-002.png?v=1646421660656) transparent repeat-x 0 0;
  -webkit-animation: slideleft 700s infinite linear; /* Safari 4+ */
  -moz-animation: slideleft 700s infinite linear; /* Fx 5+ */
  -o-animation: slideleft 700s infinite linear; /* Opera 12+ */
  animation: slideleft 700s infinite linear; /* IE 10+ */
}

.nft-reel-4{
  background: url(https://cdn.glitch.global/37011ed6-4b84-44e8-8f53-630683dd483b/mball-reel-7500x71-004.png?v=1646421672214) transparent repeat-x 0 0;
  -webkit-animation: slideleft 800s infinite linear; /* Safari 4+ */
  -moz-animation: slideleft 800s infinite linear; /* Fx 5+ */
  -o-animation: slideleft 800s infinite linear; /* Opera 12+ */
  animation: slideleft 800s infinite linear; /* IE 10+ */
}

.nft-reel-6{
  background: url(https://cdn.glitch.global/37011ed6-4b84-44e8-8f53-630683dd483b/mball-reel-7500x71-006.png?v=1646421684898) transparent repeat-x 0 0;
  -webkit-animation: slideleft 800s infinite linear; /* Safari 4+ */
  -moz-animation: slideleft 800s infinite linear; /* Fx 5+ */
  -o-animation: slideleft 800s infinite linear; /* Opera 12+ */
  animation: slideleft 800s infinite linear; /* IE 10+ */
}

p.MuiTypography-colorTextSecondary {color: rgb(255,255,255);}
p.MuiTypography-body1 {font-family: "Dosis", sans-serif;}

/* LOGO BALL */

.ball {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    position: relative;
    margin: auto;
    background: radial-gradient(circle at bottom, #81e8f6, #76deef 10%, #055194 80%, #062745 100%);
  }
  .ball:hover{cursor: pointer;}
    .ball:before {
      content: "";
      position: absolute;
      display:none;
      top: 1%;
      left: 5%;
      width: 70%;
      height: 70%;
      border-radius: 100%;
      background: radial-gradient(circle at top, white, rgba(255, 255, 255, 0) 58%);
      -webkit-filter: blur(5px);
      filter: blur(5px);
      z-index: 2; }
    .ball:after {
      content: "";
      position: absolute;
      display: none;
      top: 5%;
      left: 10%;
      width: 80%;
      height: 80%;
      border-radius: 100%;
      -webkit-filter: blur(1px);
      filter: blur(1px);
      z-index: 2;
      -webkit-transform: rotateZ(-30deg);
      transform: rotateZ(-30deg); }
    .ball .shadow {
      position: absolute;
      width: 100%;
      height: 100%;
      background: radial-gradient(circle, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
      -webkit-transform: rotateX(90deg) translateZ(-160px);
      transform: rotateX(90deg) translateZ(-160px);
      z-index: 1; }
    .ball.plain {
      background: black; }
      .ball.plain:before, .ball.plain:after {
        display: none; }
    .ball.bubble {
      background-size: 100%;
      background-image: url("https://cdn.glitch.global/37011ed6-4b84-44e8-8f53-630683dd483b/mtblx_dark_72px.png?v=1642785332591"),radial-gradient(circle at 50% 55%, rgba(240, 245, 255, 0.9), rgba(240, 245, 255, 0.9) 40%, rgba(225, 238, 255, 0.8) 60%, rgba(43, 130, 255, 0.4));
      -webkit-animation: bubble-anim 2s ease-out infinite;
      animation: bubble-anim 2s ease-out infinite;
      opacity: 0.75;
      transition: all 0.3s;
      cursor: pointer;
    }
    .mbmenu-ball.ball.bubble {
      background-image: url("https://cdn.glitch.global/37011ed6-4b84-44e8-8f53-630683dd483b/ballmenu-icon.png?v=1643823631145"),radial-gradient(circle at 50% 55%, rgba(240, 245, 255, 0.9), rgba(240, 245, 255, 0.9) 40%, rgba(225, 238, 255, 0.8) 60%, rgba(113, 17, 161, 0.4));
    }
      .ball.bubble:hover,.ball.bubble:active {opacity: 0.95;}
      .ball.bubble:before {
        -webkit-filter: blur(0);
        filter: blur(0);
        height: 80%;
        width: 40%;
        background: radial-gradient(circle at 130% 130%, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0) 46%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0.8) 58%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 100%);
        -webkit-transform: translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg);
        transform: translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg); }
      .ball.bubble:after {
        display: block;
        background: radial-gradient(circle at 50% 80%, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 74%, white 80%, white 84%, rgba(255, 255, 255, 0) 100%); }
  
  .stage {
    width: 2.8rem;
    height: 2.8rem;
    margin: 0 auto;
    -webkit-perspective: 384px;
    -moz-perspective: 384px;
    -ms-perspective: 384px;
    -o-perspective: 384px;
    perspective: 384px;
    -webkit-perspective-origin: 50% 50%;
    -moz-perspective-origin: 50% 50%;
    -ms-perspective-origin: 50% 50%;
    -o-perspective-origin: 50% 50%;
    perspective-origin: 50% 50%;
    -webkit-tap-highlight-color: transparent;
  }
  @media only screen and (max-width: 992px) {
    .stage.ball-topleft {margin: 0 0 0 28px !important;}
  }
  

  /* LOGO 3D TEXT */
  .logo-3d-text {
    padding:0;
    vertical-align:middle;
    font-size: 22px;
    letter-spacing: .05rem;
    line-height:22px;
    color: #1fc7dd;
     font-family: 'Dosis', Gadget, sans-serif;
     transition: all 0.2s;
   }
  .logo-3d-text:hover, .logo-3d-text:active {
    color: rgb(11, 218, 227);
    letter-spacing: .06rem;
    transform: translateX(5px) translateY(0px) scale(1);
  }
  .logo-3d-text:active {
      text-shadow: 0px 0px 0 rgb(-17,180,187),
                   0px 1px 0 rgb(-33,164,171),
                   0px 2px 0 rgb(-50,147,154),
                   0px 3px  0 rgb(-67,130,137),
                   0px 4px 3px rgba(0,0,0,0.6),
                   0px 4px 1px rgba(0,0,0,0.5),
                   0px 0px 3px rgba(0,0,0,.2);
  }
  
/* effect-shine */
.effect-shine {text-decoration: none;}
.effect-shine:hover {
  mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000000 50%, rgba(0,0,0,.6) 70%);
  -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000000 50%, rgba(0,0,0,.6) 70%);
  mask-size: 200%;
  -webkit-mask-size: 200%;
  animation: shine 2s infinite;
}

@-webkit-keyframes shine {
  from { -webkit-mask-position: 150%; }
  to { -webkit-mask-position: -50%; }
}

@keyframes shine {
  from { -webkit-mask-position: 150%; }
  to { -webkit-mask-position: -50%; }
}

/* NFT IMG - auto-scrolling image containers */
/* https://stackoverflow.com/questions/43744887/fullscreen-infinite-scrolling-background */

@media screen and (max-aspect-ratio: 4/3) {
  .nft-img-inner {
      height: 100%;
      width: auto !important;
  }
  .nft-img {
     height: 100%;
     width: auto !important;
  }
}

.nft-img-container {
border: solid 1px black;
display: inline-block;
overflow: hidden;
}

#nft-ctn1 {
width: 300px;
height: 150px;
}

#nft-ctn2 {
width: 200px;
height: 350px;
}

.nft-img-inner {
width: 100%;
position: relative;
animation: scroll 5s infinite linear;
display: inline-block;
}


.nft-img-inner:after {
content: "";
height: 500%;
width: 100%;
left: 0px;
position: absolute;
background-image: url(https://i.stack.imgur.com/FlK9o.jpg);
background-size: 100% 20%;
}

.nft-img {
width: 100%;
}

@keyframes scroll {
from {transform: translateY(-100%);}
  to {transform: translateY(-200%);}

}

/* Footer Mint Btn */
.btn-mint{
  transition: all 0.3s;
  padding: 15px 40px;
  letter-spacing: 0.05rem;
  margin: auto;
  line-height: 30px;
  font-size: 22px;
  font-weight: 500;
}
.btn-mint:hover, .btn-mint:active {
 letter-spacing: .1rem;
 transform: translateX(0px) translateY(0px) scale(1);
}

/* ATROPOS my-atropos */

/* .container.atropos-wrap {
  padding: 0px 40px;
  max-width: 600px;
  margin: 32px auto;
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}
.atropos-banner {
  width: 100%;
}
.atropos-banner .atropos-inner {
  border-radius: 10px;
}
.atropos-banner img {
  position: absolute;
  left: -5%;
  top: -5%;
  width: 110%;
  height: 110%;
  object-fit: contain;
  display: block;
  z-index: 1;
  transform-style: preserve-3d;
  pointer-events: none;
}
.atropos-banner img.atropos-banner-spacer {
  position: relative;
  width: 100%;
  height: auto;
  left: 0;
  top: 0;
  visibility: hidden;
}
.atropos-banner .atropos-shadow {
  filter: blur(50px);
  opacity: 0.5;
}
.atropos-banner .atropos-highlight {
  z-index: 100;
}

.atropos-banner-text {
  position: absolute;
  color: #fff;
  font-weight: bold;
  left: 0%;
  top: 0%;
}
.atropos-active .atropos-banner-text {
} */

/* figma slider */
.figslide-1 {
  display: flex;background-image: linear-gradient( 135deg, #97ABFF 10%, #123597 100%);
  background: linear-gradient(135deg, #2fbbe6 10%, #123597 100%);
  color: rgb(0, 0, 0);
  border-top: 1px solid white;
  overflow: hidden;
  padding: 10px;
}

.figma-1n7ea00 {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  -webkit-box-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2;
  white-space: nowrap;
  user-select: none;
  animation: 30s linear 0s infinite normal none running figslide-1;
}

.figma-1vyk1t4 {
  flex-shrink: 0;
  width: 1.25em;
  height: 1.25em;
  margin: 0px 20px;
}
@keyframes figslide-1 {
  from{transform: translateX(0px);}
  to{transform: translateX(-100%);}
}