/* ##################################### */
/* ####### APP.TSX CUSTOM STYLES ####### */
/* ##################################### */

div.mball-avatar {
  width: auto;
  min-height: 180px;
  margin: 0 auto -11px auto;
  background: url(https://cdn.glitch.global/37011ed6-4b84-44e8-8f53-630683dd483b/basketball-minter-420px.gif?v=1646330542707) no-repeat;
  background-position-x: center;
  background-position-y: bottom;
  background-size: contain;
  position: relative;
  z-index: 9;
}

div.bg-overlay {position: fixed; left:0; top: 0; z-index: -1; width:100%; height:100%; background:rgba(0,0,0,0.4);}
.content-wrapper section {border-radius: var(--card-border-radius);}

.gradient-txt-green {
  background: -webkit-linear-gradient(45deg, #09009f, #00ff95 80%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}
.gradient-txt-purple {
  background: -webkit-linear-gradient(45deg, indigo 40%, purple 80%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradient-txt-orange {
  background: -webkit-linear-gradient(45deg, rgb(219, 107, 16) 40%, rgb(194, 10, 87) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-text {font-size: 1.2rem;font-weight:500;}

.hero-section {
  background: radial-gradient(ellipse at bottom, rgba(6, 23, 70, 0.6) 10%, rgba(49, 5, 71, 0.6) 100%), url(https://cdn.glitch.global/37011ed6-4b84-44e8-8f53-630683dd483b/mbtl-bg-trans33.png?v=1643647587600);
  background-repeat: repeat;
  height: 50vh;
}

/* .hero-container { width:100%; height:100%; background: rgba(0,0,0,0.4); } */


/* NFT FULL-WIDTH SCROLLING REEL */

.nft-hero {
  width: 100%;
  position: relative;
  border-bottom:1px solid rgba(11, 228, 228, 0.8);
  margin-bottom: 0;
  padding-top: 50px;
/*   -webkit-box-shadow: 0 8px 6px -2px rgba(11, 228, 228, 0.75);
   -moz-box-shadow: 0 8px 6px -2px  rgba(11, 228, 228, 0.75);
        box-shadow: 0 8px 6px -2px rgba(11, 228, 228, 0.75); */
}

.nft-hero-base {
  width: 100%;
  margin-bottom: 30px;
  color: white;
  padding: 20px 10px 30px 10px;
  text-align: center;
}

.nft-hero-text {
  text-align: center;
  position: absolute;
  top: 56%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  width: 650px;
  border-radius: 7px;
  padding: 15px 10px 30px 10px;
  margin: auto;
  background: rgba(3, 24, 88,0.7);
  -webkit-tap-highlight-color: transparent;
  display: table-cell;
  vertical-align: middle;
}

@media only screen and (max-width: 800px) {
.nft-hero-text{ width: 100%; border-radius:0; padding: 15px 10px 30px 10px; }
}

.nft-reel-1, .nft-reel-2, .nft-reel-3, .nft-reel-4, .nft-reel-5, .nft-reel-6, .nft-reel-7 {
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
  background-color: rgba(0, 0, 0, 0);
  height: 71px;
  background-position: center;
  background-repeat: repeat-x;
  background-size: cover;
  opacity: 0.75;
  position: relative;
}
.nft-reel-1{
  background: url("https://cdn.glitch.global/37011ed6-4b84-44e8-8f53-630683dd483b/mball-reel-7500x71-001.png?v=1646421654800") repeat 0 0;
  -webkit-animation: slideright 2000s infinite linear; /* Safari 4+ */
  -moz-animation: slideright 2000s infinite linear; /* Fx 5+ */
  -o-animation: slideright 2000s infinite linear; /* Opera 12+ */
  animation: slideright 2000s infinite linear; /* IE 10+ */
}
.nft-reel-3{
  background: url("https://cdn.glitch.global/37011ed6-4b84-44e8-8f53-630683dd483b/mball-reel-7500x71-003.png?v=1646421666787") repeat 0 0;
  -webkit-animation: slideright 2200s infinite linear; /* Safari 4+ */
  -moz-animation: slideright 2200s infinite linear; /* Fx 5+ */
  -o-animation: slideright 2200s infinite linear; /* Opera 12+ */
  animation: slideright 2200s infinite linear; /* IE 10+ */
}
.nft-reel-5{
  background: url("https://cdn.glitch.global/37011ed6-4b84-44e8-8f53-630683dd483b/mball-reel-7500x71-005.png?v=1646421677746") repeat 0 0;
  -webkit-animation: slideright 2300s infinite linear; /* Safari 4+ */
  -moz-animation: slideright 2300s infinite linear; /* Fx 5+ */
  -o-animation: slideright 2300s infinite linear; /* Opera 12+ */
  animation: slideright 2300s infinite linear; /* IE 10+ */
}
.nft-reel-7{
  background: url("https://cdn.glitch.global/37011ed6-4b84-44e8-8f53-630683dd483b/mball-reel-7500x71-007.png?v=1646421692824") repeat 0 0;
  -webkit-animation: slideright 2300s infinite linear; /* Safari 4+ */
  -moz-animation: slideright 2300s infinite linear; /* Fx 5+ */
  -o-animation: slideright 2300s infinite linear; /* Opera 12+ */
  animation: slideright 2300s infinite linear; /* IE 10+ */
}

.nft-reel-2{
  background: url("https://cdn.glitch.global/37011ed6-4b84-44e8-8f53-630683dd483b/mball-reel-7500x71-002.png?v=1646421660656") repeat 0 0;
  -webkit-animation: slideleft 2200s infinite linear; /* Safari 4+ */
  -moz-animation: slideleft 2200s infinite linear; /* Fx 5+ */
  -o-animation: slideleft 2200s infinite linear; /* Opera 12+ */
  animation: slideleft 2200s infinite linear; /* IE 10+ */
}

.nft-reel-4{
  background: url("https://cdn.glitch.global/37011ed6-4b84-44e8-8f53-630683dd483b/mball-reel-7500x71-004.png?v=1646421672214") repeat 0 0;
  -webkit-animation: slideleft 2300s infinite linear; /* Safari 4+ */
  -moz-animation: slideleft 2300s infinite linear; /* Fx 5+ */
  -o-animation: slideleft 2300s infinite linear; /* Opera 12+ */
  animation: slideleft 2300s infinite linear; /* IE 10+ */
}

.nft-reel-6{
  background: url("https://cdn.glitch.global/37011ed6-4b84-44e8-8f53-630683dd483b/mball-reel-7500x71-006.png?v=1646421684898") repeat 0 0;
  -webkit-animation: slideleft 2300s infinite linear; /* Safari 4+ */
  -moz-animation: slideleft 2300s infinite linear; /* Fx 5+ */
  -o-animation: slideleft 2300s infinite linear; /* Opera 12+ */
  animation: slideleft 2300s infinite linear; /* IE 10+ */
}

@keyframes slideright {
  from { background-position: -100%; }
  to { background-position: -1500%; }
}

@keyframes slideleft {
  from { background-position: 0%; }
  to { background-position: 1600%; }
}

p.MuiTypography-colorTextSecondary {color: rgb(255,255,255);}
p.MuiTypography-body1 {font-family: "Dosis", sans-serif;}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* LOGO BALL */

.ball {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    position: relative;
    margin: auto;
    background: radial-gradient(circle at bottom, #81e8f6, #76deef 10%, #055194 80%, #062745 100%);
  }
  .ball:hover{cursor: pointer;}
    .ball:before {
      content: "";
      position: absolute;
      display:none;
      top: 1%;
      left: 5%;
      width: 70%;
      height: 70%;
      border-radius: 100%;
      background: radial-gradient(circle at top, white, rgba(255, 255, 255, 0) 58%);
      -webkit-filter: blur(5px);
      filter: blur(5px);
      z-index: 2; }
    .ball:after {
      content: "";
      position: absolute;
      display: none;
      top: 5%;
      left: 10%;
      width: 80%;
      height: 80%;
      border-radius: 100%;
      -webkit-filter: blur(1px);
      filter: blur(1px);
      z-index: 2;
      -webkit-transform: rotateZ(-30deg);
      transform: rotateZ(-30deg); }
    .ball .shadow {
      position: absolute;
      width: 100%;
      height: 100%;
      background: radial-gradient(circle, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
      -webkit-transform: rotateX(90deg) translateZ(-160px);
      transform: rotateX(90deg) translateZ(-160px);
      z-index: 1; }
    .ball.plain {
      background: black; }
      .ball.plain:before, .ball.plain:after {
        display: none; }
    .ball.bubble {
      background-size: 100%;
      background-image: url("https://cdn.glitch.global/37011ed6-4b84-44e8-8f53-630683dd483b/mtblx_dark_72px.png?v=1642785332591"),radial-gradient(circle at 50% 55%, rgba(240, 245, 255, 0.9), rgba(240, 245, 255, 0.9) 40%, rgba(225, 238, 255, 0.8) 60%, rgba(43, 130, 255, 0.4));
      -webkit-animation: bubble-anim 2s ease-out infinite;
      animation: bubble-anim 2s ease-out infinite;
      opacity: 0.75;
      transition: all 0.3s;
      cursor: pointer;
    }
    .mbmenu-ball.ball.bubble {
      background-image: url("https://cdn.glitch.global/37011ed6-4b84-44e8-8f53-630683dd483b/ballmenu-icon.png?v=1643823631145"),radial-gradient(circle at 50% 55%, rgba(240, 245, 255, 0.9), rgba(240, 245, 255, 0.9) 40%, rgba(225, 238, 255, 0.8) 60%, rgba(113, 17, 161, 0.4));
    }
      .ball.bubble:hover,.ball.bubble:active {opacity: 0.95;}
      .ball.bubble:before {
        -webkit-filter: blur(0);
        filter: blur(0);
        height: 80%;
        width: 40%;
        background: radial-gradient(circle at 130% 130%, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0) 46%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0.8) 58%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 100%);
        -webkit-transform: translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg);
        transform: translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg); }
      .ball.bubble:after {
        display: block;
        background: radial-gradient(circle at 50% 80%, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 74%, white 80%, white 84%, rgba(255, 255, 255, 0) 100%); }
  
  .stage {
    width: 2.8rem;
    height: 2.8rem;
    margin: 0 auto;
    -webkit-perspective: 384px;
    -moz-perspective: 384px;
    -ms-perspective: 384px;
    -o-perspective: 384px;
    perspective: 384px;
    -webkit-perspective-origin: 50% 50%;
    -moz-perspective-origin: 50% 50%;
    -ms-perspective-origin: 50% 50%;
    -o-perspective-origin: 50% 50%;
    perspective-origin: 50% 50%;
    -webkit-tap-highlight-color: transparent;
  }
  @media only screen and (max-width: 800px) {
    .stage.ball-topleft {margin: 0 0 0 28px !important;}
  }
  
  @-webkit-keyframes bubble-anim {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1); }
  
    20% {
      -webkit-transform: scaleY(0.95) scaleX(1.05);
      transform: scaleY(0.95) scaleX(1.05); }
  
    48% {
      -webkit-transform: scaleY(1.1) scaleX(0.9);
      transform: scaleY(1.1) scaleX(0.9); }
  
    68% {
      -webkit-transform: scaleY(0.98) scaleX(1.02);
      transform: scaleY(0.98) scaleX(1.02); }
  
    80% {
      -webkit-transform: scaleY(1.02) scaleX(0.98);
      transform: scaleY(1.02) scaleX(0.98); }
  
    97%, 100% {
      -webkit-transform: scale(1);
      transform: scale(1); } }
  
  @keyframes bubble-anim {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1); }
  
    20% {
      -webkit-transform: scaleY(0.95) scaleX(1.05);
      transform: scaleY(0.95) scaleX(1.05); }
  
    48% {
      -webkit-transform: scaleY(1.1) scaleX(0.9);
      transform: scaleY(1.1) scaleX(0.9); }
  
    68% {
      -webkit-transform: scaleY(0.98) scaleX(1.02);
      transform: scaleY(0.98) scaleX(1.02); }
  
    80% {
      -webkit-transform: scaleY(1.02) scaleX(0.98);
      transform: scaleY(1.02) scaleX(0.98); }
  
    97%, 100% {
      -webkit-transform: scale(1);
      transform: scale(1); } }
  
  
  /* LOGO 3D TEXT */
  .logo-3d-text {
    padding:0;
    vertical-align:middle;
    font-size: 22px;
    letter-spacing: .05rem;
    line-height:22px;
    color: #1fc7dd;
     font-family: 'Dosis', Gadget, sans-serif;
     transition: all 0.2s;
   }
  .logo-3d-text:hover, .logo-3d-text:active {
    color: rgb(11, 218, 227);
    letter-spacing: .06rem;
    transform: translateX(5px) translateY(0px) scale(1);
  }
  .logo-3d-text:active {
      text-shadow: 0px 0px 0 rgb(-17,180,187),
                   0px 1px 0 rgb(-33,164,171),
                   0px 2px 0 rgb(-50,147,154),
                   0px 3px  0 rgb(-67,130,137),
                   0px 4px 3px rgba(0,0,0,0.6),
                   0px 4px 1px rgba(0,0,0,0.5),
                   0px 0px 3px rgba(0,0,0,.2);
  }
  
/* effect-shine */
.effect-shine {text-decoration: none;}
.effect-shine:hover {
  -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000000 50%, rgba(0,0,0,.6) 70%);
  -webkit-mask-size: 200%;
  animation: shine 2s infinite;
}

@-webkit-keyframes shine {
  from { -webkit-mask-position: 150%; }
  to { -webkit-mask-position: -50%; }
}

/* NFT IMG - auto-scrolling image containers */
/* https://stackoverflow.com/questions/43744887/fullscreen-infinite-scrolling-background */

@media screen and (max-aspect-ratio: 4/3) {
  .nft-img-inner {
      height: 100%;
      width: auto !important;
  }
  .nft-img {
     height: 100%;
     width: auto !important;
  }
}

.nft-img-container {
border: solid 1px black;
display: inline-block;
overflow: hidden;
}

#nft-ctn1 {
width: 300px;
height: 150px;
}

#nft-ctn2 {
width: 200px;
height: 350px;
}

.nft-img-inner {
width: 100%;
position: relative;
animation: scroll 5s infinite linear;
display: inline-block;
}


.nft-img-inner:after {
content: "";
height: 500%;
width: 100%;
left: 0px;
position: absolute;
background-image: url(https://i.stack.imgur.com/FlK9o.jpg);
background-size: 100% 20%;
}

.nft-img {
width: 100%;
}

@keyframes scroll {
from {transform: translateY(-100%);}
  to {transform: translateY(-200%);}

}

/* Footer Mint Btn */
.btn-mint{
  transition: all 0.3s;
  padding: 15px 40px;
  letter-spacing: 0.05rem;
  margin: auto;
  line-height: 30px;
  font-size: 22px;
  font-weight: 500;
}
.btn-mint:hover, .btn-mint:active {
 letter-spacing: .1rem;
 transform: translateX(0px) translateY(0px) scale(1);
}

/* ATROPOS my-atropos */

.container.atropos-wrap {
  padding: 0px 40px;
  max-width: 600px;
  margin: 32px auto;
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}
.atropos-banner {
  width: 100%;
}
.atropos-banner .atropos-inner {
  border-radius: 10px;
}
.atropos-banner img {
  position: absolute;
  left: -5%;
  top: -5%;
  width: 110%;
  height: 110%;
  object-fit: contain;
  display: block;
  z-index: 1;
  transform-style: preserve-3d;
  pointer-events: none;
}
.atropos-banner img.atropos-banner-spacer {
  position: relative;
  width: 100%;
  height: auto;
  left: 0;
  top: 0;
  visibility: hidden;
}
.atropos-banner .atropos-shadow {
  filter: blur(50px);
  opacity: 0.5;
}
.atropos-banner .atropos-highlight {
  z-index: 100;
}

.atropos-banner-text {
  position: absolute;
  color: #fff;
  font-weight: bold;
  left: 0%;
  top: 0%;
}
.atropos-active .atropos-banner-text {
}