/* ############################################################# */
/* Bootstrap Timeline - https://codepen.io/jasondavis/pen/nXLJbg */

.timeline {
list-style: none;
padding: 20px 0 20px;
position: relative;
}
.timeline:before {
top: 0;
bottom: 0;
position: absolute;
content: " ";
width: 3px;
background-color: #eeeeee;
left: 50%;
margin-left: -1.5px;
}
.timeline > li {
margin-bottom: 20px;
position: relative;
}
.timeline > li:before,
.timeline > li:after {
content: " ";
display: table;
}
.timeline > li:after {
clear: both;
}
.timeline > li:before,
.timeline > li:after {
content: " ";
display: table;
}
.timeline > li:after {
clear: both;
}
.timeline > li > .timeline-panel {
width: 46%;
float: left;
border: 1px solid #d4d4d4;
border-radius: 2px;
padding: 20px;
position: relative;
-webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}
.timeline > li > .timeline-panel:before {
position: absolute;
top: 26px;
right: -15px;
display: inline-block;
border-top: 15px solid transparent;
border-left: 15px solid #ccc;
border-right: 0 solid #ccc;
border-bottom: 15px solid transparent;
content: " ";
}
.timeline > li > .timeline-panel:after {
position: absolute;
top: 27px;
right: -14px;
display: inline-block;
border-top: 14px solid transparent;
border-left: 14px solid #fff;
border-right: 0 solid #fff;
border-bottom: 14px solid transparent;
content: " ";
}
.timeline > li > .timeline-badge {
color: #fff;
width: 50px;
height: 50px;
line-height: 50px;
font-size: 1.4em;
text-align: center;
position: absolute;
top: 16px;
left: 50%;
margin-left: -25px;
background-color: #999999;
z-index: 100;
border-top-right-radius: 50%;
border-top-left-radius: 50%;
border-bottom-right-radius: 50%;
border-bottom-left-radius: 50%;
}
.timeline > li.timeline-inverted > .timeline-panel {
float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
border-left-width: 0;
border-right-width: 15px;
left: -15px;
right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
border-left-width: 0;
border-right-width: 14px;
left: -14px;
right: auto;
}
.timeline-badge.primary {
background-color: #2e6da4 !important;
}
.timeline-badge.success {
background-color: #3f903f !important;
}
.timeline-badge.warning {
background-color: #f0ad4e !important;
}
.timeline-badge.danger {
background-color: #d9534f !important;
}
.timeline-badge.info {
background-color: #5bc0de !important;
}
.timeline-title {
margin-top: 0;
color: inherit;
}
.timeline-body > p,
.timeline-body > ul {
margin-bottom: 0;
}
.timeline-body > p + p {
margin-top: 5px;
}


/* Bootstrap Timeline 2 */
/* https://bootsnipp.com/snippets/O5q8E */

.main-timeline2:after{
    content: '';
    display: block;
    clear: both;
}
.main-timeline2 .timeline2{
    width: 50%;
    margin: 0 0 10px 5px;
    float: right;
}
.main-timeline2 a { text-decoration: none; }
.main-timeline2 .timeline2-content{
    color: #666;
    background: linear-gradient(to right,#f1f1f1,rgba(255,255,255,0.2));
    min-height: 120px;
    padding: 15px;
    border-radius: 10px;
    display: block; 
}
.main-timeline2 .timeline2-content:hover{ text-decoration: none; }
.main-timeline2 .timeline2-year{
    color: #DC8C3E;
    font-size: 2.2rem;
    line-height: 2.2rem;
    font-weight: 600;
    font-style: none;
    padding-bottom: 5px;
}
.main-timeline2 .title{
    color: #fff;
    background: linear-gradient(to right,#FC424A,#DC8C3E);
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 7px 15px;
    margin: 0 0 5px;
    border-radius: 4px;
    display: inline-block;
}
.main-timeline2 .description{
    color:rgba(0, 0, 0, 0.8);
    font-size: 1rem;
    letter-spacing: 1px;
    line-height: 20px;
    padding: 5px 5px 10px 5px;
    margin: 0;
}
.main-timeline2 .timeline2:nth-child(even){
    margin: 0 5px 10px 0;
    float: left;
}
.main-timeline2 .timeline2:nth-child(even) .timeline2-content{
    background: linear-gradient(to left,#f1f1f1,rgba(255,255,255,0.2));
    text-align: right;
}
.main-timeline2 .timeline2:nth-child(even) .description{ text-align: left; }
.main-timeline2 .timeline2:nth-child(4n+2) .timeline2-year{ color: #3BCD59; }
.main-timeline2 .timeline2:nth-child(4n+2) .title{ background: linear-gradient(to right,#3BCD59,#8BD33B); }
.main-timeline2 .timeline2:nth-child(4n+3) .timeline2-year{ color: #10A5D7; }
.main-timeline2 .timeline2:nth-child(4n+3) .title{ background: linear-gradient(to right,#10A5D7,#69D4D7); }
.main-timeline2 .timeline2:nth-child(4n+4) .timeline2-year{ color: #E31F9A; }
.main-timeline2 .timeline2:nth-child(4n+4) .title{ background: linear-gradient(to right,#E31F9A,#CF21C2); }
.main-timeline2 .timeline2:nth-child(4n+5) .timeline2-year{ color: #7111A1; }
.main-timeline2 .timeline2:nth-child(4n+5) .title{ background: linear-gradient(to right,#7111A1,#7C2AE8); }
@media screen and (max-width: 800px){
    .main-timeline2 .timeline2{ width: 100%; } 
}
@media screen and (max-width:576px){
    .main-timeline2 .timeline2-content,
    .main-timeline2 .timeline2:nth-child(even) .timeline2-content{
        background: linear-gradient(#f1f1f1,transparent);
        text-align: left;
    }
    .main-timeline2 .timeline2:nth-child(even) .description{ 
        text-align: left;
    }
}

/* Timeline 2 - metaballix roadmap CSS extensions */
.roadmap { --bs-rows: 5; --bs-columns: 5; }
.tl-roadmap .list-group { padding-bottom: 5px; }
.tl-roadmap .list-group-item{ background-color: rgba(255,255,255,0.75); }
.tl-roadmap .tl-phase1 .list-group-item:hover{ background-color: rgba(255, 197, 142, 0.75); }
.tl-roadmap .tl-phase1 .list-group-item:active{ background-color: rgba(245, 156, 121, 0.75); }
.tl-roadmap .tl-phase2 .list-group-item:hover{ background-color: rgba(142, 255, 185, 0.75); }
.tl-roadmap .tl-phase2 .list-group-item:active{ background-color: rgba(110, 228, 147, 0.75); }
.tl-roadmap .tl-phase3 .list-group-item:hover{ background-color: rgba(164, 242, 253, 0.75); }
.tl-roadmap .tl-phase3 .list-group-item:active{ background-color: rgba(119, 218, 228, 0.75); }
.tl-roadmap .tl-phase4 .list-group-item:hover{ background-color: rgba(253, 164, 223, 0.75); }
.tl-roadmap .tl-phase4 .list-group-item:active{ background-color: rgba(228, 119, 182, 0.75); }
.tl-roadmap .tl-phase5 .list-group-item:hover{ background-color: rgba(225, 164, 253, 0.75); }
.tl-roadmap .tl-phase5 .list-group-item:active{ background-color: rgba(206, 119, 228, 0.75); }
@media screen and (max-width: 800px){
    .tl-roadmap .list-group { padding-bottom: 15px; }
}


/* 4x2 Features Grid - snippets.wrappixel.com/multiple-services-cards-section */
.service-24 {
color: #8d97ad;
font-weight: 300;
}

.service-24 h1, .service-24 h2, .service-24 h3, .service-24 h4, .service-24 h5, .service-24 h6 {
color: #3e4555;
}

.service-24 .card.card-shadow {
    -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
    box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
}

.service-24 a {
    text-decoration: none;
}

.service-24 .card-hover:hover {
    background: #2cdd9b;
    background: -webkit-linear-gradient(legacy-direction(to right), #2cdd9b 0%, #1dc8cc 100%);
    background: -webkit-gradient(linear, left top, right top, from(#2cdd9b), to(#1dc8cc));
    background: -webkit-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
    background: -o-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
    background: linear-gradient(to right, #2cdd9b 0%, #1dc8cc 100%);
}

.service-24 .card-hover:hover .bg-success-grediant {
    color: #ffffff;
    text-fill-color: #ffffff;
    -webkit-text-fill-color: #ffffff;
}

.service-24 .card-hover:hover .ser-title {
    color: #ffffff;
}

.service-24 .bg-success-grediant {
    background: #2cdd9b;
    background: -webkit-linear-gradient(legacy-direction(to right), #2cdd9b 0%, #1dc8cc 100%);
    background: -webkit-gradient(linear, left top, right top, from(#2cdd9b), to(#1dc8cc));
    background: -webkit-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
    background: -o-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
    background: linear-gradient(to right, #2cdd9b 0%, #1dc8cc 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    font-size: 60px;
    font-weight: 500;
}

.service-24 .wrap-service-24 .card {
    transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    background: rgba(255, 255, 255, 0.9);
}

.service-24 .wrap-service-24 .card:hover {
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
}

.service-24 .btn-outline-success {
    color: #2cdd9b !important;
    background-color: transparent;
    border-color: #2cdd9b;
}

.service-24 .btn-outline-success:hover {
        background: #2cdd9b;
    border-color: #2cdd9b;
    color: #ffffff !important;
}

.service-24 .btn-md {
    padding: 15px 45px;
    font-size: 16px;
}

/* 3d parallax cards - codepen.io/dazulu/pen/VVZrQv */

/* FAQ section bs 4.1 - codepen.io/moso/pen/vKGxMx */

/* FAQ Section - Bootstrap 5 Accordion */
#faq .accordion-body { color: #212529; }
