:root {
  
  /* Main Settings  */
  --main-background-color: rgb(235, 235, 235);

  --text-primary-color: rgb(255,255,255);
  --text-secondary-color: rgb(113, 17, 161);

  /* Nav Settings  */
  --nav-link-color: rgb(255,255,255);
  --nav-link-hover-color: rgb(11, 218, 227);
  --nav-link-hover-background-color: rgba(3, 24, 80, 0.4);
  --nav-background-color: none;
  --nav-height: 100px;
  --nav-logo-width: 125px;
  --nav-logo-font-size: 16px;

  /* Mobile Nav Settings  */

  --mobile-nav-background-color: rgb(3, 24, 80);
  --mobile-nav-logo-height:100px;
  --mobile-nav-link-color: rgb(11, 218, 227);
  --mobile-nav-link-hover-color: rgb(0, 196, 204);
  --mobile-nav-link-size: 20px;

  /* Card Settings  */
  --card-background-color: rgb(216, 216, 216);
  --card-border-radius: 8px;
  --card-shadow: 10px 10px 20px -13px rgb(121, 121, 121);

  /* Minting Area */
  --minting-box-color: #212029;
  --minting-box-heading-color: white;
  --minting-box-info-box-color: rgb(77,77,77);
  --minting-box-text-color: rgba(222,222,222,0.9);


  /* Minting Button */
  --minting-button-color: linear-gradient(180deg,#604ae5 0%,#813eee 100%);
  --minting-button-text-color: white;

}






